<h2
  class="text-2xl font-bold text-[color:var(--base-btn-secondary-bg)] flex justify-between items-center px-6 pt-8"
>
  Zmień Hasło
  <button
    (click)="onNoClick()"
    aria-label="Zamknij okno"
    class="p-2 rounded-lg bg-[color:var(--white-to-dark-gray)] focus:outline-none cursor-pointer transition duration-200"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-6 h-6 text-[color:var(--gray-to-yellow)] hover:text-[color:var(--base-form-lighter-text)] transition"
    >
      <path
        fill-rule="evenodd"
        d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94L3.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12L3.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
</h2>

<div class="px-6 py-2">
  <hr class="border-[color:var(--base-gray-light)]" />
</div>

<div class="px-6 py-4 space-y-4">
  <form [formGroup]="passwordForm" (ngSubmit)="onSaveClick()">
    <div class="pb-5">
      <label
        for="current-password"
        class="block text-sm font-medium text-[color:var(--base-gray-darker-catalog)] mb-1"
        >Aktualne hasło</label
      >
      <input
        type="password"
        id="current-password"
        name="current-password"
        formControlName="currentPassword"
        class="w-full p-3 border rounded-lg focus:ring-0 focus:border-2 transition duration-150"
        [class.border-[color:var(--base-red)]]="
          passwordForm.get('currentPassword')?.invalid &&
          passwordForm.get('currentPassword')?.touched
        "
        [class.border-[color:var(--base-gray-darker-catalog)]]="
          !(
            passwordForm.get('currentPassword')?.invalid &&
            passwordForm.get('currentPassword')?.touched
          )
        "
        [class.focus:border-[color:var(--base-gray-darker-catalog)]]="
          !(
            passwordForm.get('currentPassword')?.invalid &&
            passwordForm.get('currentPassword')?.touched
          )
        "
      />
      @if (
        passwordForm.get('currentPassword')?.hasError('required') &&
        passwordForm.get('currentPassword')?.touched
      ) {
        <p class="text-[color:var(--base-red)] text-sm mt-1">Aktualne hasło jest wymagane.</p>
      }
    </div>

    <div class="pb-5">
      <label
        for="new-password"
        class="block text-sm font-medium text-[color:var(--base-gray-darker-catalog)] mb-1"
        >Nowe hasło</label
      >
      <input
        type="password"
        id="new-password"
        name="new-password"
        formControlName="newPassword"
        class="w-full p-3 border rounded-lg focus:ring-0 focus:border-2 transition duration-150"
        [class.border-[color:var(--base-red)]]="
          passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched
        "
        [class.border-[color:var(--base-gray-darker-catalog)]]="
          !(passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched)
        "
        [class.focus:border-[color:var(--base-gray-darker-catalog)]]="
          !(passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched)
        "
      />
      @if (
        passwordForm.get('newPassword')?.hasError('required') &&
        passwordForm.get('newPassword')?.touched
      ) {
        <p class="text-[color:var(--base-red)] text-sm mt-1">Nowe hasło jest wymagane.</p>
      }

      @if (
        passwordForm.get('newPassword')?.hasError('minlength') &&
        passwordForm.get('newPassword')?.touched
      ) {
        <p class="text-[color:var(--base-red)] text-sm mt-1">
          Hasło musi mieć co najmniej 8 znaków.
        </p>
      }
    </div>

    <div>
      <label
        for="confirm-password"
        class="block text-sm font-medium text-[color:var(--base-gray-darker-catalog)] mb-1"
        >Powtórz nowe hasło</label
      >
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        formControlName="confirmPassword"
        class="w-full p-3 border rounded-lg focus:ring-0 focus:border-2 transition duration-150"
        [class.border-[color:var(--base-red)]]="
          (passwordForm.get('confirmPassword')?.invalid &&
            passwordForm.get('confirmPassword')?.touched) ||
          (passwordForm.errors?.['mismatch'] && submitted)
        "
        [class.border-[color:var(--base-gray-darker-catalog)]]="
          !(
            (passwordForm.get('confirmPassword')?.invalid &&
              passwordForm.get('confirmPassword')?.touched) ||
            (passwordForm.errors?.['mismatch'] && submitted)
          )
        "
        [class.focus:border-[color:var(--base-gray-darker-catalog)]]="
          !(
            (passwordForm.get('confirmPassword')?.invalid &&
              passwordForm.get('confirmPassword')?.touched) ||
            (passwordForm.errors?.['mismatch'] && submitted)
          )
        "
      />
      @if (
        passwordForm.get('confirmPassword')?.hasError('required') &&
        passwordForm.get('confirmPassword')?.touched
      ) {
        <p class="text-[color:var(--base-red)] text-sm mt-1">Potwierdzenie hasła jest wymagane.</p>
      }

      @if (passwordForm.errors?.['mismatch'] && submitted) {
        <p class="text-[color:var(--base-red)] text-sm mt-1">Hasła muszą się zgadzać.</p>
      }
    </div>
    @if (saveSuccess) {
      <div
        class="mt-4 p-3 bg-[color:var(--base-green-lighter)] border border-[color:var(--base-green)] text-[color:var(--base-green)] rounded-lg"
        role="alert"
      >
        <p class="font-bold">Sukces!</p>
        <p class="text-sm">Hasło zostało zmienione.</p>
      </div>
    }

    @if (saveError()) {
      <div
        class="mt-4 p-3 bg-[color:var(--base-red-light)] border border-[color:var(--base-red)] text-[color:var(--base-red)] rounded-lg"
        role="alert"
      >
        <p class="font-bold">Błąd:</p>
        <p class="text-sm">{{ saveError() }}</p>
      </div>
    }

    <div class="flex justify-end gap-3 p-4">
      <button
        type="button"
        (click)="onNoClick()"
        class="bg-[color:var(--white-to-yellow)] border border-[color:var(--edit-button-bg)] text-[color:var(--edit-button-bg)] hover:bg-[color:var(--light-gray-to-light-yellow)] font-medium py-2 px-4 rounded-md transition duration-150 cursor-pointer"
        [disabled]="loading"
      >
        ANULUJ
      </button>
      <button
        type="submit"
        [disabled]="passwordForm.invalid || loading"
        class="bg-[color:var(--edit-button-bg)] hover:bg-[color:var(--blue-hover)] text-[color:var(--white-to-yellow)] font-medium py-2 px-4 rounded-md transition duration-150 cursor-pointer"
        [class.opacity-50]="loading"
      >
        @if (!loading) {
          <span>ZMIEŃ HASŁO</span>
        } @else {
          <span>ZMIENIAM...</span>
        }
      </button>
    </div>
  </form>
</div>
