<h2
  class="text-2xl font-bold text-[color:var(--base-btn-secondary-bg)] flex justify-between items-center px-6 pt-8 pb-2"
>
  {{ dialogType === 'rent' ? 'Aktywne wypożyczenia' : 'Aktywne rezerwacje' }}
  <button
    (click)="onNoClick()"
    aria-label="Zamknij okno"
    class="p-2 rounded-lg bg-[color:var(--white-to-dark-gray)] focus:outline-none cursor-pointer transition duration-200"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-6 h-6 text-[color:var(--gray-to-yellow)] hover:text-[color:var(--base-form-lighter-text)] transition"
    >
      <path
        fill-rule="evenodd"
        d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94L3.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12L3.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
</h2>
<div class="px-6">
  <hr class="border-[color:var(--base-gray-light)]" />
</div>

<div class="px-6 p-2 mb-6 mr-6 h-[400px] overflow-y-auto">
    @for (record of activeItems(); track record.id) {
      <app-profile-book-item
        [itemId]="record.id"
        [title]="record.item.title"
        [author]="record.item.author || 'Nieznany autor'"
        [coverText]="record.item.title"
        [imageUrl]="record.item.imageUrl"
        [statusType]="dialogType === 'rent' ? 'rent' : 'reservation'"
        [date]="record.rentalDueDate || record.reservationExpiresAt || 'Brak daty'"
        [branchId]="record.branchId"
        [rentExtended]="record.isRentExtended || false"
        (extendRental)="onRentalExtended($event)"
        (cancelReservation)="openConfirmCancelReservationDialog($event)"
      ></app-profile-book-item>
    } @empty {
      <p class="text-[color:var(--base-gray-lighter)] text-lg text-center my-6">
        Brak aktywnych książek do wyświetlenia.
      </p>
    }
</div>
